Source: translatemee
Section: user/other
Priority: optional
Maintainer: Stanislav Ionascu <stanislav.ionascu@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: www.ionascu.me

Package: translatemee
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Translation tool.
 Translation tool which not only translates to and from more than 30 languages, but can also speak.
XSBC-Maemo-Display-Name: Translate Mee!
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHFQkxOIBEuVIAABytSURBVHja
 zZt5lN1Hdec/Vb/6vf31vqjVklr7YlnClhfwFoyxWYIhwSQDTIIDOIRJTmCSzCHMHJM9E5IzZJgk
 ZBgIIQnbQAiBGEOczcbGNpKNJdva124trd6Xt/7Wqjt/vJYsO5LckpycqT51fv26X9Wv6m517/fe
 UrwCbfi335dBqSwoXyG9ItwEsgaRrUA30CMiGxY7n1JMgToABCj1DHBaKfWEoE6BREC06tc+H70S
 a1eXO3Dkt9+XQeuNKLVJrL3dJckt4uwW5xwuTRFrcTbGpRYRh4sTQWQx7xPl+0p7Hsrz0MZHaw/t
 +yitUVof84z/pDLmUYTnxdmDq379Lyr/bgQ49gf3FYjcB5X23mDD5qYkCIbSqHnOplMR51RrZvUK
 8EhAQGktSntKG4P2DF42i5/LT5hC+aA49xhK/mz1r/3FiX9TAhy7/96PodVH0jTIB9MzvksjRBwi
 Ikqpy9qtEwFAX8Lws+9TCq18ct2dNpMvxzi+vPp3v/CBV5wARz/209vE8QUnyebm5ITESaCU0lfE
 VyeCM1l0Wxfx1ChGazwFl0VHETzPl0JfvzJetqq0fu+a3/3iN6+YAMP//T7toujnXRx/MqxV/LA6
 B0pddJCIYKX1VEqh1Yu5KyKkTrDtfbRd91pO73iEUncPMn4cEwcYrS6LCAKIc5IrtalcexdeJvO/
 lPZ+Y/VvfaF6sXEXZaNtBp9Nw+BTtckxP6zMCaiWSl6gWyeEqdB2108SLd/IVDOmHlvi1GGdnP1/
 MrCW1b/w20w1Qvrf/G7GxsaRJStJ/Bypu/D8F+sIKKVVWK9JdXyUqFH7JZcmf3v0I+/IXrIEHL7/
 XRrlfTZt1N5Xn57Qi9Xx2Drc0FUM3P1O2pctYWZkmP3f/GsYG6EsKZ6C7KtuY9t//h0ObH+YQnuZ
 oz94AjszTvWZ79OZ9Sj5hoynLskmnM9GAKrY2U2mvXMnzt2y7ve+Gp7vu+YCKvXzNmzcV5sapzUX
 auF5wZY6Ici1sfxNP04gMZVjR1iytJdbP/xhxo+NsP+Bv6Vc7uH6D36MqDFJrqx56h8fIpyeprOY
 o+vVr0UHNRqnj2ObFbKevhIiKIDazKSUtd7mF8tfAe5ZlAQc/K//YZuk6fb61JjvklgWYyhFhBBN
 x1vvpW3zNdQjS7UREiQpPV1lujsKZI0mjaFzyUoas8/z9A+PsXPnfnJZTVvJZ92ydnp7etn3wD/g
 D++lJ+/jX6Y9eKlXVepbKiaX/7n1H//a516WAAc+8o494fzc5qg+L4s9JawTmr1DuM2vJnaOxMui
 y22YQom5WoN1GzayamgpnR0lmDjJRBKRuDwrVq5akDAhatQ4tvd5po4c5NCXPsvq9jwl38PTV+xL
 iMkWVKG7d1Ibb/2GP/ibygVV4OCvvuNjNo43h7U5lFZqsW6CQ4hOH+fUwYOM1QLmo4QgdahcgaTQ
 xf/cc5i7bruF1995Ld/72rf45Xs/wP58ma/+8WfZtWsXnR2drL3uWm5+7W1c98a30RwbZ+6Jh8ga
 Dw1XKgUqiZokQaMvUyp/Enj/eSXgwH/58YJSaqw+NV6Oo3DRrxQRYic0+zcz2tnPqckppmoBoZ9l
 29bVbBpajWnvZD5KKaWOUrlEds8upruXUF69rGXFnaOoNP/wp5+hPjnBuqEB9MRh+nKQN1dkC84e
 kcb3pdw7oFBq2cY//Nbov5YApT6YRmE+ajaU1hq5BAIgQvXUfqazWUYGN3BseIbBtcuJ+8qUVwxQ
 bu9iqcmB8nBownKZ1YEQrN2E0oYTu3bwxINfZX78EF02IDk1TWfWoDEgsui1XMwiJmGokrCJny/+
 AfDTLyLA3l96W0Yp9YbG/KyPUmfd00t5QdFFmGNHaLz5/fiDbXzlPy6nHqV4xkMpTctz1WjPo2my
 ZE6OYrrb0dbxxM4dnHz0H9nYVWBpe46irzFK4elziHyFEgDQmJuho1B6075fflvbVZ98oHqWAJ6n
 NiZBc5ONI9RlvMwgFDzNimXLyPcKo77i+dmUtpwhjR0uiVGeBzYFpWgmHnQvJRoZI3RC2/pXseG2
 O/CPPkdWW3L6HD9ArpT/59iqNJW4WS9mcvm3AP/3LAHEyaYkCofcZYqbAJE2FNa9ijds6iVnPOrz
 UxT7OlFa0AUPVALKAZaukuCcIK4VTG163VUcLUzy+FfHKE+OkjEaXyn+DZqKm42cn82/8QwB9N4P
 vTkjNr09CQLEOsEJl9qdE1ymQOdVNzA9O0+kFPP1OY7sP8zc/ATzwXHmm6eoNiZpBjXiMAXr4+si
 uUw7uUw7m266m6UbtlENUtJUEOu4nLW8XI8bDcTZTXs/9KN9LQlQKmtteouNE1wql0d3EWxzlp3/
 41cpD93A8LJl2ILP0Jr19K5fS7m3h3NDKGct1qbEjQZRtU4SBKRhk6RpiVKwicOJPkd7Ly596pzn
 y4XWTjvSOBwymdxKYNKQWN+lyRZn05a+XR4FyHuKtqCBaVYpHjyGC0Mmnn4K9j9L9+AA2jMYrVEi
 WBF842FMBpPLoXMZVJQwd+QoxiakZAg902IaLXfkDAEFhaiWh9fatVrooJ2ggjo5T2Mu4ECJQBrG
 /Z7yBwCME+l1aUqapuJE1KUYASctjbELIa7GUtU1am4WFQtv+qWP4hXypNaCOBSCBrQGrcDTGq01
 9WqNI2PjNBtV2oCuO95E77XbSKwFz6A9jdJeK7w2pnWqaN2CzDwPpRWe71MbG+fJ3/8demxK0T+/
 /6BQYpNYSa7Qv6AC7qZULE6cUpfgdjoREpOldONd6PYeElF4uX7yKs+alZbaTJPxuWnslMPP+GRz
 OXK5HLlCjkwuTyabw/g+JpulfvxhvvrpT9ITzNHTluXqe++j3NsNSAtXQJAW7xfYmL4g/loBDhAm
 cx5jcUrRdxS15vyaICpJE3LKbd3983f6RpxbI3EC6aWJf2IdZusNbP6pX8EqTYjFSIKX1NFelfll
 RbK+D2KZnZulUq1xYnqC+WqFoFknDgP8jI/vG2bnGtz4zvdz/IGvkDSnKbgjHHhyO2tXtGOMgAPV
 gt5wToE4UufI+ppv/NMYzrb8jVV9hkaYkKAQIxdEOyS1SJoOas8zxlq7NU1TnFn8/q0IgV9gzR1v
 J0kssY2wSjE206RkHO1tHQRjJ3h6ZAyTtZTLZbq6Oli2dB2dHR2UykW8fGFBJx1KGeYnxvnjvTuZ
 2fUocwfHmToyRXujge9pcA7nwC48nRNEwNeatmoDYzRJPSFOFJEVrFZYr6Vq57NX1jnSJF2nwRhE
 usVZVCqLsroA1jrs4BBke5k4NYEC5pIGnlacrmbYc2AXSzYs5567b8Xv6sFFKZVqnWq1zujYNOmx
 ExAFKBsBKco6RpswsGYTKp9ndmdItytweiahqPWC6XshNmupA4RiWa1LuLh1BAR1IYkdNhFIvZah
 Oa83YBFcO6CNiPTY1C7a3ZQFK95MUiaP7SeT81EopuMqOOjPFrlug2Ji4gjffmgOUZZiPktne5mO
 coly1sd0dqBNL0prjDF8/k//lFq1yUc+/gmU53Hq859nPoqpOUfGa0WEntZY69BKkTqHp8CgWj7D
 wo/nZ4mdtKTAOTzOjyc45xDnOhDRRsRtSNNUZHFJiwU9FKQxxU03D9JoxiSpZZ3XjtaacGyErlve
 zjLf5zqlW7xTLWOllEZxrnFSKE9zx82vYfj0FLVaDZSmVsqTLWXJ+T7W0xwbmya2jmojwCkhRZE6
 QZRgUVhpHS2b+nt4z/2/yeOf+DVi6/AvgFxb68Q5V0KcMUjrsFUL6MlimtawdMNGgjAksbaVudGg
 tTAxWcEc2knR9yGJkSTC2hQbR6RpQprEBEGIDUNsakkbVY4cH+Wau38Sz0VYBwOvv7MFs1lL0AzI
 dp1i9NhxJsOYJElB7ALq3MIKPE8DjtNRRFoPqaeOZMFHOC+WIChxrRPGWOdwqoXaLsrzkha6O7b7
 eWTJOrrWb6RZm0NshGnW8NsGcLk+ajZBtMX5FueDy7UW4/uGNs8j4xuy+TynDx3hxM6vkD7zPLcP
 raWts4C1LY44p8kXsvjZfvr68tQbTRCLc46gmXDq1AzZrGZpfz+JDRFJIAgIUkecOhJP4Z3PF/AU
 Dod1DoNzSCqLj7oW4n8XJ1y9+QZGTp4ibYaUOtrIlXtopjFu4lTrxdaiUoty6QLwIFibEqWWxkLg
 NT18jJt+5DaOnByho1iH8Cilcm7B0xMoKPraBbTCRT6TEwGIo1RuY37davLZMqVCgTRNma/ME9Ub
 fE+kFdVeaE8WsA4lDoO0RGGxcaBDiJzj6nveS6mQI0wiSpkMS3UGupfQv2INaepwvqAsGKs4q10L
 YplbcGA8z6PnupBvffnPwaaceOYRjj33IK+5bgVKg0JIkwTTvozmzDCj0ykP/vNJpispb37rbZS2
 vpeG7xOLIxGNkTLHvv6XLVhdnzkvLpBuFBAnGKVa57qSxdmAVCCzZguvuuddnDw5wuCm9WRzWWJr
 2ff4Qez2/Rjf8INTe7hmYAN5k6U5E6A8Dxs5bGIBhc4YQLH6qgKH9z1PqvIMqkHaHs7w9LfH6NEa
 jE/f3beTTI0z81iFTNbw7swgKJjfbjh+9SDTNke3ESInJFZx4uB++jy9IPrqvLhuK3AStAKzezJi
 hYYgcYvS/1pied09HyA4Pkp08AjGB+0rJIkZ6quAxDg8bi8V6G1roqRB2BYyHWfp80IatYi4npA4
 RRjFVEY93vKe+1h51bWc/tIXGbZNUt9HiWLNT7yF8enjHPv2Iyjfw4801jmUZ8i3t1N59l9oaI/Q
 Ocq+Zl3OUrzhOg4df5bEWhIl540HfE8zPJ9QdYKRBVhbibysJ+hEENFUjxwnGp0lrc7isg6byVDo
 7cbTFfLlNpJ6nQ3dXRglRKmlI6dZkctS7OnGVpukqSEMAnDCdx7dzi1db8PFddrueC2bX3MDjUaD
 TDbP8PQJPvH5J6hEMS50oDQKyOcLvK6QZavM0qiELQk2in48fnhgD0oEfaafj5FOcKpl9I04dzbI
 kEXF3o7Hdj5N4da7aWYsWiva20p0FbpYu/42vv/1L3Ji18Po5iyF+WkaiWV33EYmW+S5ah/KxuR9
 RUZZVNpg61WreXUUMj42SrXaoFZrsGzFCro7S3zyz/6E8TBAshqFIQibXLdtI8YXJnNzHG1UmJqL
 cU6oaEW730U1jMgtHH8XPtdaRqB1DIrgEJxzL4+/L1A0zGdJ6MBrX0KYapqBx1wibOiv8I77/hPN
 vXcQ7ttNOjdPKI4763UG4oR8ewmtwDVDXBwzUamyf+Uq1qxay44fPkMzsvT1LWHDmnWMjuzhd37/
 j/CMJkgCfBKyuQLabwPnaNYq7D50kN65Kr72WqGz8dC5wjlW7vwEEAdWCak4TJoI+K1k4su5w2dC
 00xBc83WQSbGJ5iaqZJay2uuvZp09hDDo4cZuun1FDeuZ+rpR3HjJzkVztK2YTlRtkSagnEGSjlc
 FFKamuYTf/MIz617A5u7hQ9tKvIbz00xM9bLljiHUXDjkhK+homgwPB4gmCpzQm9I6eYbQYtRMpZ
 ejo78XJ53IK77i4QEIpCbOJU6jRmNkqDdRmdd2Jf1gbIgthkqjMMdBrGTszhwmmalVmWf/cQEzOT
 5Owwlef+hq6f/nWW3vV2Zv/y45RObqdz9x4y2xLSqZTmrV34n0so9rVjw4jlKwYZGD3Ite9+H9V/
 +S6bdx5Bgoh2uZPrb9rC9q//FX/41BRhlKB9TT5reEtXQtJXJjBFlAi5XBbtGTK5ApETxAmizy8B
 SmlVSx2TcSLGWbffwTa3mESgUqCkdWaPTZJ6isBPWbFmHQ88so/hvSOU2kp019rg45/mjff/NwZ+
 7n7G9sxx5NQUA8+uQokgu4VZJummyOyAcMuaDnr7+sCNU931EHf6PsW3vpeoXqHxmQ/TODjJoOvi
 x370DtauWkF371IGO4vEUZXjU3WOjFXxPE25VKK63ydYgEjcRYy5cjKVxJKaxLmKWtBvWaQnWD1x
 hKhRZWVPD1tXrqKQy6Cuv544fidHh09ycLjC4RNNnvvfj/GBe2/jPX/8Cb7zzYdJmwmz8zN4yqNx
 x0oaQZXX3LSB5/fs4/Zr38g3P/MndOc2sOlNP8aD3/se1QPP0tW1jGt/5l381OvuwsMyNT7K/MRx
 duwfpRAo0lrIiqCBKA0aTu1+jtICkiRyISOocEg9dCLqF65e8bm3LzX31YLwZY2giBBawVx1Azfc
 +wGe2j3MWK3JsnKW7nUb6e/qJmjUuXrzRubrKQeHZ6hVJ3j1jdfQ2dXDyMhR0t3P0mZTqo0m48bQ
 tXyA3rVbmTuxh0jlSFLH5Ng4+azHxqs24CPs3LmLffv2Mzkzx6nTk9TChGwmy0/ctI1M0MQDdC6H
 zuWZrs6z52ufZmNbhvJ5cEERIef77G7ox5+cit9kYuuOLDYFnQqo3qWsfet7eOCJZ1ne3s51G9cx
 0N9HqbefmZkZhodHGB45zm0338CrVmWp17pIK+PYthKrVq3hBwcO8uAPHqWjq5PVm9aTL5Qpp1PE
 hQJelBIkFa5Z30+jmfDP//I4c82EJ77/GMPDx2kGASKKXC7D1i2byXZ24ynVqkNUkO/sYHl/PzsW
 okG5iCYbrU6OB6k1o43ouYkwS14h7iKVME6EwDq2vv39LNu0mXddfQ3FQo4kjbFxTBLVaMs4rt+8
 CpcmVMaO08xmKLWVCYMKU8eep2vFJm68806mwoh6dZ7YWsrd3YyfeA4rhiQJyTmPHzx6mCNTdfrW
 X8PAYAf3rllJIZchl81SyOfI5zIUMz5ZhNr0BEF1nrnxSaI4xkrLLb5QflMpJXWr1GRoD+8Ym0xM
 0ff2ToSONVmtnLiLpsAH7riHzW/+cZxYorBK0qiRJhFx2CCNIpIkJrUWcUISh1Rmapw+1qSzu5dC
 Wxdzpw7SNrCO2197M8OP/BVOB7i5I1TmpxGnSCnRnKkwNLSMLdeUsXGTNBkldQkqEvxUo+pCM0g4
 PTlLFEckSuOLRWcKVGbmyLR3vVxKUTVTaFp1BMSakmeq9cRWdF61n89sigipgO3oYeDaq6md3k+a
 hrgkwDnLGTQlow1Zo8AHEYvNKJJMlmYG5saPMXliPz1Lhshms5jyAN7gDUyeOIo3shdLnn0HRhha
 MURfj+HU6HM88ehxjp86zdzcPNiYjlKOwf5uBrrb6e/po1Qo09m3lIrXQXW2SmN+DpXJQ5Lg5OKZ
 bAvRdDOZADDPzzfjZcXiU6LUXS/JMJ11fwPr2PyOd1Iu+8yOHiCNE7L5Mn6hjPYyKGVQyuCdATC1
 RybrUSxpOiSkv6+f6tw4J4/tJg1mWH/Lu+jv7SFTP0lYh8MHDvCaG17Nww//A596bAd5z9Hf20V/
 bzerBpaT8cBo8LRCeylBNEW+FFIoGZYPdlIYuI2pqZAjO56mOjP9sm69aHXymZnmSQCzc3I2ur4r
 93il5N9VOI8BsAJm2Uo6eopUKxU8P4+XayfRBhsnKJ1ijKC1Q3saP5NFa7OwAIVSebxMia6BHrr7
 VnFi78PM7PsO5aHbMLZBY3aebdfdwJ//nz9h7ZrV/P5v3c+SobXk8uVWGe4CP5yNiYMKSVAnbNRJ
 ogZgCSp1jHeY7rYBmutWUa/MXXDzIoJoj5GKGz40NzdyJj1uTzbSHY0uPywacnIew7fmR16HyRcp
 5w2CxmSyeF62lZrSHlrpVpostaRhjNYJgsL3c3iZLLKQ2xPdxspr7qEx8QzpzEFkPmJg6RB7n32c
 j37st+joHyKOY3CONHWtMeJQWgM+mXwPfq6bfMeZJElKGocEzRr29HF6yxniDcsXYM5WQth7CUs9
 z9hds82ngOBsfcDfn5w/cNdg/lAvamsrUdGqEolF0f8jb2TNDTe3OJGmaIQwCqnPzdAMApI0JU7i
 BehBMFqT833KbW3k83mMnyWTLyKej2gfnKPQfS3y5HdZ8uR20p98K3f9xAdxDtKwiTjH8MnTnJ6c
 ZrZSJUpSjGcoFXL0dnUy0NfLYH83RkFqFanS+CZDkpaJmnX6+trI9y8hCGdJMxpPWtniMyBq1ang
 70/OP/SSGqH4+I7x6IdrVuW22DRWZ+p96ybHrp27efj5EToHhnj00FGOnhxlrlYlThNEbCtjd47J
 VUrhaQ9jDN0dZdYM9LJ17UpuvXojW9avoNy9hOZTX+fEJx/kZ0/P877hw/ziRy01+vn+tx7hnx7f
 wXyzSWodVoRELAiEChJxNDTEnqJ/cJDVq4fYsn41m1evYN3QAG2lPM5pfvZXPsxf/97vko8d7b4m
 q1uSUMhkeGAkOG4levxfVYm1ZzNv/L1rl/7d8mySiaxTcWSYijwO5Ho45rKMHDuCbjYoeoqy1hRR
 5JUmt5Cp5UwKcyEWLwE3ell2pTHNhTKaVxUUXQMp39gzSxwrHnKOXmV4X18bY9rn21NTdOY8PA0Z
 rfAUaCXQKpeiVTal8ZVHTmuUKJQFm1qs0vR3drJpcJBVvd2Uslnqk1OM1/bR6QtFo2XOZdRvPj/x
 oeO14FPnLZR8y7KeJ395U+mmuSCSaizq0LQQpopGEhEgBLS4EDuLU4LW4CuFr890yGiNUWBS4a1V
 y3fCmMeNx2BZs0w8OtMc1xufL0YN2oxHQznmXQskWZY39OUNBU9htDobyp4BiDmTB5aF1DwvFH/Y
 hc9WhNi2ju68B8sLPh2+lt5CRn1hJDz9paOT64DmhSpFb/3oVYMP39qn/HpspWmdCqyQuBfOxzPl
 k4pW6k2p1kLPfl5YceqERurwmkKp4fG0Dun3NUWlGcFSMoqOjEduYbNGQVYrsp7G6DNx/DmI8lnn
 5gX0Sl64UNLqC7/bs5cwwIAUfE8dqin+6MDke04H8ZcuViz9+N+PzX9mY3vXL3b6SnlKS9lXSi5S
 Wq7O4dJL0wcdGU0zI8RFx2Yy+Lq12R7l46lzxVydXfBZLPeCgZm6cL3iWfKoFxdGiWb7dOO7k6H9
 xkvHeS/9w0SYPOtrc9OG9tzyjEZ5qpVduVDXF+lnNpk1iqKvKRiPvNHkjSLnqQWC6BfNpdTlFUir
 c8aeM4f4xqjHJpKTXz8x9+HI2eGXJQBQH65Fh7Paf/2mTr9dnLvs+0DqHEKYhaenr2yjl3JnIOd7
 6tHxtPlnR6bur6f27873Pe/8Ya+ceHa+eaLs5W9b3+G3LSCordTJFXLn37q1LnegjNfa/CcOjH0s
 cvLpC3nH3kXm2r9zrjGixd+2vGS6i6ZlC0T4d9nIZWy8VRqvlQqd5uHxaPxzR6d/PXbyqYugYxcl
 AMD+PZVgx2QgvVnPrFxRNEYt4Abw/wchzhg/TyspGE/tmbf83cnGY984NX9/YN3XgPSyb42d0wYK
 nnr3nUvaf+b2/uLWje2K2AruCtTildq4UoqMpxhtCo9NBMcfHK18uZLYLwvsW/TdmktoN+eUuvv1
 /e1vfm1/fsPykvaNxpgXz3S22uSVIMw5G31RqG5bDpCdCiR5fDI8/U8T1Yem4/Q7wHcv+XLRJReH
 wxZg29b2ws1XlbM3bunye9syupzTqpD1FF1ZfRaSkheAhcVewWl9T7249LWWCM3EETqJ6omrHqqk
 c3ur8a7ts/XtwHZgD1C/nLsEl9s00AV0Z9DXrCj6Wzp8b13J112rSqanaHS56OmOgqezvqeybZ72
 FztxIEIzcbXQiW2kdrZhXTDaTKdmIzdXTd3waDPZXbP2WWAMmAPiK7lM8Uo0vSAZGigZpYYyWnV7
 iqWeUgWg6Cn6L2aNXwzA0nAwKSKJFU4lTqqxyDAwf6a+Y6Ffcft/jcpsNtFwjqoAAAAASUVORK5C
 YII=
